/Clase 00

# Common files

.DS_Store
/**/.DS_Store
/node_modules
/**/node_modules
**/**/node_modules


# /Clase 00/Profe/Ejercicio
# /Clase 00/Profe/Desafío

/Clase 14/Profe/Ejercicio
/Clase 14/Profe/Desafío